 .header {
  background: white;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 200;
  display: flex;
  width: 100%;
  height: 73px;
  line-height: 73px;
   border-bottom: 1.5px solid rgba(191, 191, 191, 0.8);
}
 .header img {
  padding-top: 13px;
  margin-left: 40px;
}
 .header .address {
  position: absolute;
  left: 360px;
}
 .header .address img {
  vertical-align: middle;
  margin-top: -17px;
}
 .header .address span {
  font-weight: bold;
}
 .header .headerNav {
  position: absolute;
  right: 130px;
}
 .header .headerNav :first-child {
  color: red;
}
 .header .headerNav a {
  font-weight: bold;
  padding: 10px;
  color: black;
}
 .header .last-a {
  background: #e94840;
  width: 76px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 18px;
  top: 25px;
  font-weight: bold;
}

#service-item {
  width: 100%;
  background: #FBF8F8;
  padding-top: 10px;
  margin-top: 71px;
}
#service-item .htit {
  height: 140px;
  background: #fff;
}
#service-item .htit .htit-center {
  width: 1200px;
  height: 140px;
  margin: 0 auto;
  background: #fff;
}
#service-item .htit .htit-center .htit-right {
  float: left;
  height: 120px;
  margin: 10px 0 10px 20px;
}
#service-item .htit .htit-center .htit-right b {
  font-size: 36px;
  font-weight: 700;
  line-height: 140px;
}
#service-item .htit .htit-center .htit-right i {
  margin-left: 10px;
  color: #929292;
  line-height: 19px;
  font-size: 12px;
  font-style: normal;
}
#service-item .htit .htit-center .htit-right i span {
  color: black;
  font-size: 12px;
  font-style: normal;
}
#service-item .htit .htit-center .htit-right i:nth-child(3) span {
  color: #e84b47;
}
#service-item .htit .htit-center .htit-left {
  height: 120px;
  margin-right: 40px;
}
#service-item .htit .htit-center .htit-left span {
  float: right;
  width: 100px;
  height: 44px;
  margin-top: 70px;
  line-height: 22px;
  text-align: center;
}
#service-item .htit .htit-center .htit-left span i {
  display: block;
  color: #e84b47;
  font-style: normal;
}
#service-item .htit .htit-center .htit-left span em {
  position: relative;
  bottom: 12px;
  left: 20px;
  color: #e5e5e5;
  font-style: normal;
}
#service-item .navtit {
  width: 100%;
  height: 40px;
  background: #323434;
  margin-bottom: 22px;
}
#service-item .navtit ul {
  width: 1200px;
  margin: 0 auto;
}
#service-item .navtit ul li {
  float: left;
  width: 140px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
#service-item .nav {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
#service-item .nav .nav-center {
  float: left;
  width: 960px;
  margin-bottom: 50px;
}
#service-item .nav .nav-center .service-link {
  background: #fff;
}
#service-item .nav .nav-center .service-link h3 {
  width: 916px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}
#service-item .nav .nav-center .service-link h3 i {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  height: 59px;
  width: 64px;
  border-bottom: 4px solid #fb474f;
  cursor: pointer;
}
#service-item .nav .nav-center .service-link.fuwu {
  margin-bottom: 70px;
}
#service-item .nav .nav-center .service-link.fuwu .link-item {
  height: 150px;
  padding: 25px;
  cursor: pointer;
}
#service-item .nav .nav-center .service-link.fuwu .link-item img {
  float: left;
  border: 1px solid #e5e5e5;
  width: 148px;
  margin-right: 25px;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc {
  float: left;
  height: 150px;
  width: 700px;
  position: relative;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span {
  display: block;
  height: 42px;
  line-height: 42px;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(1) {
  font-size: 18px;
  color: #1d1515;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(2) {
  margin: 0;
  font-size: 14px;
  color: #929292;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(3) {
  font-size: 14px;
  color: #929292;
  margin-top: 20px;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(3) .price {
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
  line-height: 40px;
  color: #fc545e;
  font-weight: 700;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(3) .price em {
  font-size: 14px;
  font-style: normal;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(3) .oldpic em {
  font-style: normal;
  text-decoration: line-through;
}
#service-item .nav .nav-center .service-link.fuwu .link-item .link-desc span:nth-child(3) .sold {
  float: right;
}
#service-item .nav .nav-center .service-link.shop {
  margin-bottom: 20px;
}
#service-item .nav .nav-center .service-link.shop .link-item {
  width: 910px;
  overflow: hidden;
  margin: 0 auto;
}
#service-item .nav .nav-center .service-link.shop .link-item .shopName {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  font-size: 18px;
}
#service-item .nav .nav-center .service-link.shop .link-item .shopName img {
  line-height: 40px;
  vertical-align: middle;
}
#service-item .nav .nav-center .service-link.shop .link-item .desc {
  display: block;
  height: 112px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 28px;
}
#service-item .nav .nav-center .service-link.users h3 {
  cursor: pointer;
}
#service-item .nav .nav-center .service-link.users h3 em {
  margin-left: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #121212;
}
#service-item .nav .nav-center .service-link.users .conments {
  overflow: hidden;
}
#service-item .nav .nav-center .service-link.users .conments .conment {
  width: 96%;
  margin: 0 3%;
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
}
#service-item .nav .nav-center .service-link.users .conments .conment img {
  width: 40px;
  height: 40px;
  vertical-align: top;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul {
  display: inline-block;
  width: 92%;
  margin-left: 20px;
  cursor: pointer;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .username {
  font-size: 16px;
  line-height: 28px;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .star {
  line-height: 28px;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .star span img {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .star span em {
  font-style: normal;
  margin-left: 10px;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .say {
  line-height: 26px;
  font-size: 16px;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .position {
  margin-top: 15px;
  line-height: 40px;
  color: #898989;
}
#service-item .nav .nav-center .service-link.users .conments .conment ul .position img {
  width: 9px;
  height: 11px;
  margin-right: 10px;
  vertical-align: middle;
}
#service-item .nav .nav-center .service-link.users .pages {
  width: 96%;
  height: 152px;
  margin: 0 3%;
  text-align: center;
  vertical-align: middle;
}
#service-item .nav .nav-center .service-link.users .pages a {
  height: 150px;
  line-height: 152px;
  width: 30px;
  font-size: 14px;
  color: #121212;
  border: 1px solid #e5e5e5;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 10px;
}
#service-item .nav .nav-center .service-link.users .pages a.nopage {
  color: #929292;
}
#service-item .nav .nav-center .service-link.users .pages a.active {
  background: #fb474f;
  color: #fff;
}
#service-item .nav .nav-center .service-link.users .pages .showpage {
  display: inline-block;
}
#service-item .nav .nav-center .service-link.users .pages .showpage a:hover {
  background: #fb474f;
  color: #fff;
}
#service-item .nav .aside {
  float: right;
  width: 230px;
  height: 599px;
}
#service-item .nav .aside div {
  position: relative;
  width: 230px;
  height: 290px;
}
#service-item .nav .aside div:first-child {
  background: url("../images/fuwushang2_07.jpg");
}
#service-item .nav .aside div:last-child {
  background: url("../images/tuijianfuwushang_06.jpg");
  margin-top: 10px;
}
#service-item .nav .aside div img {
  width: 130px;
  position: absolute;
  top: 50px;
  left: 50px;
}
